<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>jsf</display-name>

	<!-- La siguiente linea asegura que si el usuario introduce: http://localhost:8080/jsf 
		el servidor de aplicaciones automaticamente cargue la pagina /faces/index.xhtml -->
	<welcome-file-list>
		<welcome-file>faces/index.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Configuracion del Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>

	<!-- Asegura que todas las URLs con el prefijo /faces/ sean procesadas por 
		el Faces Servlet -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>

	<!-- Se agrega soporte para depuracion (debugging) -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<!-- Se agrega para el custom component -->
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/counter.taglib.xml; /WEB-INF/headerTag.taglib.xml; /WEB-INF/contentTag.taglib.xml; /WEB-INF/footerTag.taglib.xml</param-value>
	</context-param>

	<!-- Habilitar Autenticacion (Authentication) -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/faces/login.xhtml</form-login-page>
			<form-error-page>/faces/error.xhtml</form-error-page>
		</form-login-config>
	</login-config>

	<!-- Mapeo de Roles -->
	<security-role>
		<role-name>Admin</role-name>
	</security-role>

	<!-- Restringir el acceso a los recursos: Autenticacion (Authorization) -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>RAC</web-resource-name>
			<url-pattern>/faces/accesoRestringido.xhtml</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>